
<form [formGroup]="formA" name="formA">
   
    <mat-form-field appearance="legacy">
    <mat-label>nombre</mat-label>
    <input formControlName="nombre" matInput placeholder="ej: Pablo">
    </mat-form-field>
    <mat-form-field appearance="legacy">
        <mat-label>apellido</mat-label>
        <input formControlName="apellido" matInput placeholder="ej: Ramos">
        </mat-form-field><mat-form-field appearance="legacy">
            <mat-label>puesto</mat-label>
            <input formControlName="puesto" matInput placeholder="ej: habilitado">
            </mat-form-field>
             
    </form>   


<button [disabled]="formA.invalid" mat-button (click)="guardar()" >Guardar</button>
<app-comp-b [vieneDeA]='nombreA' (btnEvent)="onRecibeCompA($event)"></app-comp-b>

<h1>se modifica el nombre a : {{recibe}}</h1>

